# Keil 编译产物
Objects/
Listings/
*.axf
*.hex
*.o
*.d
*.htm
*.bak
*.lnp
*.map
*.sct
*.dep
*.uvguix
*.iex

# 系统垃圾文件
.DS_Store
Thumbs.db

# IAR 编译输出目录
Debug/
Release/
Obj/
List/
settings/
Output/

# IAR 临时文件
*.ewt
*.bak
*.wdproj
*.dep
*.build
*.hex
*.bin
*.map
*.o
*.a
*.elf
*.hex
*.ihex
*.srec
*.log

# 系统垃圾
.DS_Store
Thumbs.db